@import helper._

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Map Group WebApp</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/jquery-3.1.1.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("bootstrap/js/bootstrap.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")'></script>
    </head>
    <body>
        <script type="text/javascript" charset="utf-8">
            var wsGroup = new WebSocket("ws://localhost:9000/wsGroup");
            wsGroup.onopen = function(){
              console.log("Connection stablished with MapGroupSystem!!");
            }
            wsGroup.onmessage = function(jsonGroup) {
                var group = JSON.parse(jsonGroup.data);
                var col = document.createElement("div");
                col.className = "col-sm-5";
                var panel = document.createElement("div");
                panel.className = "panel panel-default";
                var d = document.createElement("div");
                d.className = "panel-body";
                var br = document.createElement("br");
                //d.appendChild(document.createTextNode(group.affinities));
                d.appendChild(document.createTextNode("[#]: 1"));
                d.appendChild(br);
                d.appendChild(document.createTextNode("[ID]: " + group.id));
                d.appendChild(br.cloneNode(true));
                d.appendChild(document.createTextNode("[DATA DO AGRUPAMENTO]: " + group.groupDate));
                d.appendChild(br.cloneNode(true));
                d.appendChild(document.createTextNode("[QUANTIDADE DE CLIENTES]: " + group.elements.length));
                d.appendChild(br.cloneNode(true));
                d.appendChild(document.createTextNode("[PERCENTUAL DO TOTAL]: " + group.percent));
                d.appendChild(br.cloneNode(true));
                var detailsButton = document.createElement("button");
                detailsButton.appendChild(document.createTextNode('Details'));
                detailsButton.className="btn btn-success";
                var p = document.createElement("p");
                p.className = "bs-component";
                var exportButton = document.createElement("button");
                exportButton.appendChild(document.createTextNode('Export Group'));
                exportButton.className="btn btn-primary";
                exportButton.style.margin = "5px";
                exportButton.onclick = function() {
                  var a = document.createElement('a');
                  var blob = new Blob([group.elements], {'type':'application/octet-stream'});
                  a.href = window.URL.createObjectURL(blob);
                  a.download = 'export-group-' + group.id + '.txt';
                  a.click();
                }
                p.appendChild(detailsButton);
                p.appendChild(exportButton);
                d.appendChild(p);
                var tableGroups = document.getElementById("table-groups");
                panel.appendChild(d);
                col.appendChild(panel);
                tableGroups.appendChild(col);
            };
            function wsMessage() {
              wsGroup.send("CharacGroup");
  					};
  			</script>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Map Group WebApp</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="javascript:wsMessage()">FindGroup</a></li>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="panel panel-default">
          <div class="col-md-10 col-md-offset-1">
            <div class="row" id="table-groups" />
          </div>
        </div>
    </body>
</html>
